body {
  overflow-x: hidden;
}

.navbar-cols {
  display: grid;
  grid-template-columns: 20% 40% 10% 10% 10% 10%;
}

.nav-header {
  margin: auto;
  margin-left: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
}

.nav-link {
  cursor: pointer;
}

.content-container-rows {
  display: grid;
  grid-template-rows: auto;
}

.content-container-cols {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-header {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-cols {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-cols {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-rows {
  display: grid;
  grid-template-rows: auto;
}

.content-skillset {
  display: grid;
  grid-template-rows: auto;
}

.content-profile {
  display: grid;
  grid-template-rows: auto;
}

.social-icons {
  display: grid;
  grid-template-columns: 15% 15% 15% 55%;
}

.icon-text {
  display: grid;
  grid-template-rows: 80% 20%;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  width: 100px;
}

.icon-center {
  margin-left: 25px;
}

.bg-resume {
  background-color: rgb(249, 248, 255);
  margin-top: 100px;
  width: 100%;
}

.education-rows {
  display: grid;
  grid-template-rows: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.education-cols {
  display: grid;
  grid-template-columns: 8% 42% 27% 8% 15%;
  padding-top: 50px;
}

.education-description {
  display: grid;
  grid-template-columns: 8% 69% 8% 15%;
}

.education-icons-rows {
  display: grid;
  grid-template-rows: auto;
  height: 120px;
  margin: auto;
  margin-top: 10px;
}

.text-align-bottom {
  padding-top: 10px;
}

.portfolio-rows {
  display: grid;
  grid-template-rows: auto;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.bg-contactme {
  background-color: rgb(249, 248, 255);
  width: 100%;
}

.center {
  text-align: center;
}

.content-contactme {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  transition: all 1s ease-in-out;
}

.contact-width {
  position: relative;
  width: 50%;
  margin: auto;
}

.contactme-animation {
  border: 2px solid black;
}

.contact-form {
  display: grid;
  grid-template-rows: auto;
}

.flash-msg {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin: auto;
  margin-top: 10px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

textarea {
  resize: none;
}

.portfolio-item {
  position: relative;
  display: grid;
  grid-template-columns: 25% 65% 10%;
  margin: auto;
  margin-top: 50px;
}

.screenshot-img {
  width: 200px;
  height: 150px;
}

.portfolio-item-rows {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

.icon-img {
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.round-border {
  border-radius: 100%;
}

.icon-img-animation {
  border: 2px solid black;
}

.portfolio-arrow {
  cursor: pointer;
  color: black;
  height: 100px;
  width: 100px;
  line-height: 100px;
  font-size: 50px;
  margin: auto;
  margin-left: 70px;
  transition: all 0.5s ease-in-out;
}

.arrow-bounceright {
  color: red;
  animation-duration: 1s;
  animation-name: bounceright;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounceright {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(15%);
  }
}

@keyframes bounceright {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(15%);
  }
}

@-moz-keyframes bounceright {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(15%);
  }
}

.bounceright {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.link-hover {
  color: red;
}
